<header class="navbar navbar-fixed-top navbar-color">
  <div class="container-fluid">
    <%= link_to "NFL Survivor Pool", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "navbar-links" %></li>
        <% else %>
          <li><%= link_to "Log In", new_user_session_path, class: "navbar-links" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
